.navContainer {
  background-color: var(--blue-100);
  width: 100%;
  max-width: 1920px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.book-logo {
  padding-right: 4px;
}
