@use '@/styles/mixin.scss' as mixin;

.pageContainer {
  background-color: var(--color-background);
  min-height: 100vh;
}

.wrapper {
  background-color: var(--color-background);
  min-height: 100vh;
  border-radius: 12px;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 213px;
  margin-bottom: 60px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  padding-top: 60px;
  @include mixin.text-xl-b;
}

.field {
  display: flex;
  flex-direction: column;
  width: 640px;
  margin-bottom: 24px;
}

.label {
  display: block;
  align-self: flex-start;
  margin-bottom: 20px;
  @include mixin.text-xl-p;
}

.input {
  width: 100%;
  height: 64px;
  padding: 16px;
  border: 1px solid var(--blue-300);
  background-color: var(--color-background);
  border-radius: 12px;
  font-size: 16px;
}

.input[data-state='default'],
.input[data-state='filled'] {
  @include mixin.text-xl-p;
  color: var(--blue-400);
}

.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.eyeButton {
  position: absolute;
  right: 16px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.error {
  margin-top: 4px;
  @include mixin.text-sm-13-medium-error;
  align-self: flex-start;
}

.button {
  width: 640px;
  height: 64px;
  padding: 16px;
  background-color: var(--blue-300);
  border: 1px solid var(--blue-200);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
}

.buttonText {
  color: var(--blue-100);
  @include mixin.text-xl-p;
}

.loginWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.loginBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  max-width: 640px;
}

.signUpLink {
  margin-top: 8px;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}

.link {
  margin-left: 4px;
  text-decoration: underline;
  color: var(--blue-400);
  cursor: pointer;
}
