:root{
    --black-100: #f9f9f9;
    --black-200: #6b6b6b;
    --black-300: #5e5e5e;
    --black-400: #525252;
    --black-500: #454545;
    --black-600: #373737;
    --black-700: #373737;
    --black-800: #373737;
    --black-900: #373737;
    --black-950: #373737;

    --blue-100: #ffffff;
    --blue-200: #eceff4;
    --blue-300: #cbd3e1;
    --blue-400: #abb8ce;
    --blue-500: #8b9dbc;
    --blue-600: #6a82a9;
    --blue-700: #52698e;
    --blue-800: #40526e;
    --blue-900: #2d394e;
    --blue-950: #1a212d;


    --color-background: #f5f7fa;
    --color-primary: #ff6577;
    --main-bg-100: #f2f2f2;
    --main-bg-200: #cfdbea;

    --gray-100: #dedede;
    --gray-200: #c4c4c4;
    --gray-300: #ababab;
    --gray-400: #919191;


} 

@mixin text-3xl {
    font-family: "Pretendard";
    font-size: 32px;
    line-height: 42px;
    font-weight: bold;
  }
  
  
  .title {
    @include text-3xl; 
   
  }
  
  @mixin text-3xl {
    font-family: "Pretendard";
    font-size: 32px;
    line-height: 42px;
    font-weight: semibold;
  }
  
  
  .title {
    @include text-3xl; 
   
  }
  @mixin text-2xl {
    font-family: "Pretendard";
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
  }
  
  
  .title {
    @include text-2xl; 
   
  }
  @mixin text-2xl {
    font-family: "Pretendard";
    font-size: 24px;
    line-height: 32px;
    font-weight: semibold;
  }
  
  
  .title {
    @include text-2xl; 
   
  }
  @mixin text-2xl {
    font-family: "Pretendard";
    font-size: 24px;
    line-height: 32px;
    font-weight: medium;
  }
  
  
  .title {
    @include text-2xl; 
   
  }
  @mixin text-2xl {
    font-family: "Pretendard";
    font-size: 24px;
    line-height: 32px;
    font-weight: regular;
  }
  
  
  .title {
    @include text-2xl; 
   
  }
  @mixin text-xl {
    font-family: "Pretendard";
    font-size: 20px;
    line-height: 32px;
    font-weight: bold;
  }
  
  
  .title {
    @include text-xl; 
   
  }
  @mixin text-xl {
    font-family: "Pretendard";
    font-size: 20px;
    line-height: 32px;
    font-weight: semibold;
  }
  
  
  .title {
    @include text-xl; 
   
  }  @mixin text-xl {
    font-family: "Pretendard";
    font-size: 20px;
    line-height: 32px;
    font-weight: medium;
  }
  
  
  .title {
    @include text-xl; 
   
  }  
  @mixin text-xl {
    font-family: "Pretendard";
    font-size: 20px;
    line-height: 32px;
    font-weight: regular;
  }
  
  
  .title {
    @include text-xl; 
   
  }  
  @mixin text-2lg {
    font-family: "Pretendard";
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
  }
  
  
  .title {
    @include text-2lg; 
   
  }  
  @mixin text-2lg {
    font-family: "Pretendard";
    font-size: 18px;
    line-height: 26px;
    font-weight: semibold;
  }
  
  
  .title {
    @include text-2lg; 
   
  }  
  @mixin text-2lg {
    font-family: "Pretendard";
    font-size: 18px;
    line-height: 26px;
    font-weight: medium;
  }
  
  
  .title {
    @include text-2lg; 
   
  }  
  @mixin text-2lg {
    font-family: "Pretendard";
    font-size: 18px;
    line-height: 26px;
    font-weight: regular;
  }
  
  
  .title {
    @include text-2lg; 
   
  }  
  @mixin text-lg {
    font-family: "Pretendard";
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
  }
  
  
  .title {
    @include text-lg; 
   
  }  
  @mixin text-lg {
    font-family: "Pretendard";
    font-size: 16px;
    line-height: 26px;
    font-weight: semibold;
  }
  
  
  .title {
    @include text-lg; 
   
  }  
  @mixin text-lg {
    font-family: "Pretendard";
    font-size: 16px;
    line-height: 26px;
    font-weight: medium;
  }
  
  
  .title {
    @include text-lg; 
   
  }  
  @mixin text-lg {
    font-family: "Pretendard";
    font-size: 16px;
    line-height: 26px;
    font-weight: regular;
  }
  
  
  .title {
    @include text-lg; 
   
  }  
  @mixin text-md {
    font-family: "Pretendard";
    font-size: 14x;
    line-height: 24px;
    font-weight: bold;
  }
  
  
  .title {
    @include text-md; 
   
  }  
  @mixin text-md {
    font-family: "Pretendard";
    font-size: 14x;
    line-height: 24px;
    font-weight: semibold;
  }
  
  
  .title {
    @include text-md; 
   
  }  
  @mixin text-md {
    font-family: "Pretendard";
    font-size: 14x;
    line-height: 24px;
    font-weight: medium;
  }
  
  
  .title {
    @include text-md; 
   
  }  
  @mixin text-md {
    font-family: "Pretendard";
    font-size: 14x;
    line-height: 24px;
    font-weight: regular;
  }
  
  
  .title {
    @include text-lg; 
   
  }  
  @mixin text-sd {
    font-family: "Pretendard";
    font-size: 13x;
    line-height: 22px;
    font-weight: semibold;
  }
  
  
  .title {
    @include text-sd; 
   
  }  
  @mixin text-sd {
    font-family: "Pretendard";
    font-size: 13x;
    line-height: 22px;
    font-weight: medium;
  }
  
  
  .title {
    @include text-sd; 
   
  }  
  @mixin text-xs {
    font-family: "Pretendard";
    font-size: 12x;
    line-height: 20px;
    font-weight: semibold;
  }
  
  
  .title {
    @include text-xs; 
   
  }  
  @mixin text-xs {
    font-family: "Pretendard";
    font-size: 12x;
    line-height: 18px;
    font-weight: medium;
  }
  
  
  .title {
    @include text-xs; 
   
  }  
  @mixin text-xs {
    font-family: "Pretendard";
    font-size: 12x;
    line-height: 18px;
    font-weight: regular;
  }
  
  
  .title {
    @include text-xs; 
   
  }  